# Archivos y carpetas generadas por NetBeans
nbproject/private/
nbproject/Makefile-*.mk
nbproject/output/

# Archivos de compilación y binarios
build/
dist/
*.class

# Archivos de log y temporales
*.log
*.bak
*.swp
*.tmp

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Configuración del entorno
.idea/
*.iml
.vscode/
out/
*.jar
*.war
*.ear